<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is Product Form</title>
</head>
<body>
    <h1>Product Form</h1>
    <a href="/products/">Back</a>
    <form action="/products/create/" method="post">{% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field }}
        {% endfor %}
        <input type="submit" value="Submit"/>
    </form>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>